@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Domine&family=MuseoModerno:wght@200;300&family=Raleway:ital,wght@0,300;1,800&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Teko:wght@500&family=Ubuntu:wght@300&display=swap');
@keyframes anim1 {
    50% {text-shadow: 5px 2px #336655;}
    75% {font-style: oblique;}
}

body {
    margin: 0px;
    padding: 0px;
    word-spacing: 2px;
    background-color:rgb(233, 228, 190);
}
.jumbotron {
    font-family: "MuseoModerno";
    font-size: 20px;
    padding: 35px;
    background-color: rgb(21, 125, 211);
    text-align: center;
    color: rgb(4, 12, 31);
    height: min-content;
    position: relative;
}

.pacmanLeft {
    width: 0px;
    height: 0px;
    border-right: 60px solid transparent;
    border-top: 60px solid rgb(214, 211, 11);
    border-left: 60px solid rgb(214, 211, 11);
    border-bottom: 60px solid rgb(214, 211, 11);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    position: relative;
    top: 115px;
    left: 75px;
    overflow: hidden;
  }

  .h1 {
    font-size: auto;
  }

p[class*="uwaw"] {
    text-transform: uppercase;
    width: 55%;
    margin: 0 auto;
    padding: 2px;
    border: solid;
    border-width: 5px;
    border-radius: 2cm;
    border-color: rgb(34, 23, 13);
    color: rgb(255, 255, 255);
    background-color: rgb(226, 68, 115);
    max-height: 35px;
    overflow: auto;

}

nav li {
    display: inline;
    margin-right: 30px;
}

nav {
    background-color: rgb(144, 217, 230);
    padding: 4px;
}

a:active {
    color: rgb(187, 212, 117) !important;
    font-weight: bolder !important;
    
}

a {
    font-family: 'Balsamiq Sans';
    border-width: 2px;
    border-style: solid;
    border-color: #336655;
    border-radius: 1cm;
    color: white;
    text-decoration: none;
    background-color: darkslategrey;

}

a:hover {
    color: rgb(159, 235, 8);
    font-size: large;
}

.shadow {
    animation-name: anim1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

article h2 {
    font-size: 30px;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 10px;
    padding-left: 1.5em;
}

article {
    border-width: 30px;
    border-style: inset;
    border-top-left-radius: 0.5cm;
    border-bottom-right-radius: 0.5cm;
    border-top-color: #db822e;
    border-left-color: orange;

}

.paragraf {
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-align: justify;
    line-height: 2em;
    margin-top: auto;
}

.paragraf::first-letter{
    font-size: 32px;
}

.firstdiv {
    background-color: gray;
}

